APP_CONTAINER=php_financas_app_prod
APP_PORT=8080

DB_CONTAINER=php_financas_db_prod
DB_NAME=financas_prod
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=SEU_EMAIL@gmail.com
SMTP_PASS=SUA_SENHA_DE_APP
SMTP_FROM_EMAIL=SEU_EMAIL@gmail.com
SMTP_FROM_NAME=Sistema Financeiro Produção
MAIL_TO=seu_destinatario@exemplo.com
