APP_CONTAINER=php_financas_app_homolog
APP_PORT=8081

DB_CONTAINER=php_financas_db_homolog
DB_NAME=financas_homolog
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5433

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=SEU_EMAIL@gmail.com
SMTP_PASS=SUA_SENHA_DE_APP
SMTP_FROM_EMAIL=SEU_EMAIL@gmail.com
SMTP_FROM_NAME=Sistema Financeiro Homologação
MAIL_TO=seu_destinatario@exemplo.com
